//- home
extends layouts/default
block frontmatter
block content
	p Cupidatat velit commodo magna officia laboris. Exercitation aute irure ad dolor excepteur ea dolore cupidatat. Id mollit aute nulla sit ut exercitation qui. Dolor proident nostrud adipisicing esse qui.

	p Duis culpa voluptate sit enim duis do quis et Lorem ad dolore aute adipisicing. Sint ipsum aliqua sunt ea tempor. Lorem dolore veniam non eu ipsum velit sint culpa in. Veniam reprehenderit adipisicing eiusmod nisi velit est reprehenderit sint dolore. Ut sunt dolore quis nisi pariatur nostrud commodo laborum. Dolore eu eu aliqua irure dolore eiusmod nisi exercitation magna occaecat amet eu.

	p Cupidatat ex esse ipsum sint elit nostrud. Quis eu consequat duis excepteur eu sit nulla laborum aliqua proident commodo consequat aliquip sit. Elit tempor exercitation aute id est est cupidatat laborum enim sint. Sint tempor ea mollit commodo exercitation officia occaecat ex laborum ullamco nisi sint.

	p Enim pariatur dolor aliquip magna tempor adipisicing quis sint enim. Nisi voluptate quis esse quis ex et esse in eiusmod exercitation quis in et. Dolore enim do ea non. Eu dolor irure ex enim incididunt. Dolor consectetur dolore esse consectetur elit aute duis et exercitation amet non commodo adipisicing. Ullamco id velit labore ullamco consectetur ex ad cupidatat voluptate nisi nisi laborum culpa Lorem. Eiusmod in sunt ex sunt commodo sint sunt eu ullamco Lorem esse occaecat.

	p Nostrud labore tempor adipisicing ut do excepteur cupidatat officia occaecat incididunt deserunt amet in. Dolore voluptate aliqua non occaecat cillum est deserunt. Minim id aliqua labore nisi sit et magna occaecat Lorem esse.

	p Culpa sint laborum ut consequat veniam consectetur aliqua id laboris irure sit ad commodo commodo. Id mollit fugiat est nulla culpa est ad do. Nostrud elit sunt irure consequat.

	p Magna nisi in aute tempor culpa eiusmod ullamco do quis elit deserunt. Incididunt veniam qui ullamco nostrud dolore. Commodo aute ea et cupidatat non labore sit voluptate aute qui. Id qui non in ex dolor id in exercitation ullamco.

	p Pariatur in magna do quis. Officia tempor deserunt labore labore proident et velit et non non amet consectetur id dolore. Dolore ex deserunt incididunt voluptate velit culpa laboris ex. Mollit aliquip tempor sunt qui culpa. Duis nisi culpa non minim aute qui cupidatat occaecat minim minim dolor in esse occaecat. Adipisicing cupidatat sunt consequat incididunt nulla aliquip ea irure. Dolore exercitation ex mollit irure ex deserunt dolore Lorem laboris exercitation tempor.

block sidebar
	form(action="/action" method="POST")
		div
			label(for="firstname") First Name
			input(type="text" name="firstname")
		div
			label Enter #[br]
			input(type="submit" name="submit" value="SUBMIT")