block frontmatter
doctype html
head
	title= pagetitle ? pagetitle : 'Supply Watch'
	link(href="/assets/css/main.css" rel="stylesheet")
	each file in app.libraries
		if (!app.prod)
			script(src=`/assets/js/lib/${file}.js` type="text/javascript")
		else
			script(src=`/assets/js/lib/${file}.min.js` type="text/javascript")
body